.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.center{
  margin-left:auto;
  margin-right:auto;
}
.custom-body-style{
  background-color:#72a3ec;
  text-align: center;
}
.custom-padding{
  padding: 20px;
}
th, td { 
  text-align:center; 
  padding:5px;
}