<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cineverse Cloud Project</title>
    <head>
        <link href="css/styles.css" rel="stylesheet" type="text/css"></link>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
    </head>
<body>
    <h2 style="color: #00B0FF;padding: 20px;">FAVOURITE LIST</h2>
<table class="table table-striped" style =" border: 1px solid black;margin: auto; text-align: center;">
    <thead >
        <tr>
            <th>Movie Id</th>
            <th>Movie Title</th>
        </tr>
    </thead>
    <tbody>
            <% fl.forEach(function(fl, index) { %>
            <tr>
            <td><%- fl.movie_id %></td>
            <td><%- fl.movie_title%></td>
            </tr>
            <% }) %>
    </tbody>
    </table>
</body>
</html>
</thead>