<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cineverse</title>
    <head rel="stylesheet" type="text/css" href="css/styles.css">
      <link
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap"
        rel="stylesheet"
      />
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
      />
    </head>
    <body>
      <div class="row" style="padding: 20px;">
        <% ma.forEach(function(ma,index) { %>
        <div class="col-sm-4">
          <div class="card" style="width: 18rem; margin-top: 1rem">
            <div class="card-body">
              <a href="/singlemoviearticle/<%- ma.id %>">
                <p
                  style="
                    font-size: 20px;
                    font-family: 'Helvetica';
                    color: dodgerblue;
                  "
                  class="card-text"
                >
                  <%- ma.title %>
                </p>
              </a>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </body>
  </head>
</html>
